<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>

<body>
    <div>
        <form action="/" enctype="multipart/form-data" method="post">

            <!-- <div>
                <label for="location">Location</label>
                <select id="location" name="location" required>
                    <option value="" selected="" disabled="">Select Here</option>
                    <option value="kolkata">Kolkata</option>
                    <option value="patna">Patna</option>
                    <option value="punjab">Punjab</option>
                </select>
            </div>

            <div>
                <label for="rate">Rate</label>
                <input id="rate" name="rate" type="text">
                <span>per</span>
                <select id="rateType" name="rateType" required>
                    <option value="kg" selected>kg</option>
                    <option value="gram">gram</option>
                    <option value="pound">pound</option>
                </select>
            </div> -->

            <input class="form-control" type="file" accept="image/*" name="image" id="formFile"><br>
            <input type="submit" value="Post">
        </form>
    </div>

    

    <script src="index.js"></script>
</body>

</html>