<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photos</title>
    <style>
        img{
            width: 400px;
            height: 300px;
            border-radius: 10px;
        }
        body{
            background-color: grey;
        }
    </style>
</head>
<body>
    <% for(let i=0; i<array_pic.length; i++){ %>
        <img src="files/<%=array_pic[i].name%>" alt="Photo not retrieved">
        <%}%>
    
</body>
</html>